<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" (click)="callMe()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">ANUSHA</a>
    <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ABOUT ME</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">WHAT</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item w3-button">Blah</a>
        <a href="#" class="w3-bar-item w3-button">Extras</a>
        <a href="#" class="w3-bar-item w3-button">Media</a>
      </div>
    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#band" class="w3-bar-item w3-button w3-padding-large" (click)="callMe()">ABOUT ME</a>
  <a href="#tour" class="w3-bar-item w3-button w3-padding-large" (click)="callMe()">WHAT</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" (click)="callMe()">CONTACT</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" (click)="callMe()">EXTRAS</a>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- Automatic Slideshow Images -->
  <div class="mySlides w3-display-container w3-center">
    <img src="../assets/AnuFour.jpg" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h1>Anusha Venugopal</h1>
      <p><b>Choreographer | Dance director | Instructor</b></p>   
    </div>
  </div>

  <!-- The Band Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">Anusha</h2>
    <p class="w3-justify">
      Hey there! I'm Anusha, and I've traded my engineering career for dance! With over seven years of experience in choreography and teaching, I bring a unique blend of technical expertise and artistic flair. Based in Chennai, I offer dynamic dance classes and provide choreography services for any dance-related event, infusing creativity into every routine. You can also catch me as an assistant choreographer in the Indian film industry. Join me on this dance journey as we groove, leap, and twirl together, creating unforgettable moments through movement. Let's dance into boundless possibilities!
    </p>
    <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <p>In studio classes</p>
        <img src="../assets/AnuOne.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Online classes</p>
        <img src="../assets/AnuTwo.JPG" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Foundations of Dance</p>
        <img src="../assets/AnuFive.jpg" class="w3-round" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Fitness</p>
        <img src="../assets/AnuFive.jpg" class="w3-round" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Yoga</p>
        <img src="../assets/AnuFive.jpg" class="w3-round" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Personal training</p>
        <img src="../assets/AnuFive.jpg" class="w3-round" alt="Random Name" style="width:60%">
      </div>
    </div>
  </div>

  <!-- The Tour Section -->
  <div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">Next classes on date</h2>
      <p class="w3-opacity w3-center"><i>Remember to book your tickets!</i></p><br>

      <ul class="w3-ul w3-border w3-white w3-text-grey">
        <li class="w3-padding">May 1,2024 at Chennai<span class="w3-tag w3-red w3-margin-left">Sold out</span></li>
        <li class="w3-padding">May 3,2024 at Chennai <span class="w3-tag w3-red w3-margin-left">Sold out</span></li>
        <li class="w3-padding">May 8,2024 at Chennai <span class="w3-tag w3-green w3-margin-right">3 tickets</span></li>
      </ul>

      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-third w3-margin-bottom">
          <img src="../assets/AnuOne.jpg" alt="New York" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Corporate events</b></p>
            <!-- <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p> -->
            <button class="w3-button w3-black w3-margin-bottom" (click)="openWhatsApp('CE')">Enquire now</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="../assets/AnuOne.jpg" alt="Paris" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>School Annual Day</b></p>
            <!-- <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p> -->
            <button class="w3-button w3-black w3-margin-bottom" (click)="openWhatsApp('SAD')">Enquire now</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="../assets/AnuOne.jpg" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>College events</b></p>
            <!-- <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p> -->
            <button class="w3-button w3-black w3-margin-bottom" (click)="openWhatsApp('COE')">Enquire now</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="../assets/AnuOne.jpg" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Choreography for concerts</b></p>
            <!-- <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p> -->
            <button class="w3-button w3-black w3-margin-bottom" (click)="openWhatsApp('COC')">Enquire now</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Ticket Modal
  <div id="ticketModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal w3-center w3-padding-32"> 
        <span onclick="document.getElementById('ticketModal').style.display='none'" 
       class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
        <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Tickets</h2>
      </header>
      <div class="w3-container">
        <p><label><i class="fa fa-shopping-cart"></i> Tickets, $15 per person</label></p>
        <input class="w3-input w3-border" type="text" placeholder="How many?">
        <p><label><i class="fa fa-user"></i> Send To</label></p>
        <input class="w3-input w3-border" type="text" placeholder="Enter email">
        <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">PAY <i class="fa fa-check"></i></button>
        <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal').style.display='none'">Close <i class="fa fa-remove"></i></button>
        <p class="w3-right">Need <a href="#" class="w3-text-blue">help?</a></p>
      </div>
    </div>
  </div> -->

  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">CONTACT</h2>
    <p class="w3-opacity w3-center"><i>Fan? Drop a note!</i></p>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Chennai, India<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +91 9841052103<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: {{ email }}<br>
      </div>
      <div class="w3-col m6">
        <form action="/action_page.php" target="_blank">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
            </div>
          </div>
          <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
          <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
        </form>
      </div>
    </div>
  </div>
  
<!-- End Page Content -->
</div>

<!-- Image of location/map
<img src="/w3images/map.jpg" class="w3-image w3-greyscale-min" style="width:100%"> -->

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-youtube-play w3-hover-opacity" (click)="openLink('YT')"></i>
  &nbsp;
  <i class="fa fa-instagram w3-hover-opacity" (click)="openLink('IG')"></i>
  <p class="w3-medium">Maintained by <a href="https://github.com/FollowKishoreKumar/AnushaPortfolio" target="_blank">Kishore Kumar Sadasivam</a></p>
</footer>
